* {
    margin:0;
    font-family: sans-serif;
    padding:0;
} 

a {
    text-decoration:  none;
    color: white;
}
  
header {
    background-color: white;
    box-shadow: 1px 1px 1px black;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: bold;
    justify-content: space-between;
    height: auto;
    padding: 6px;
    position: fixed;
    width: 100%;
  }
    
.header__buttons {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: space-around;
    margin: 1rem;
}
    
.header__login__button:hover {
    background-color: #fce181;
    color: white;
    border-radius: 360px;
}
    
.header__login__button {
    background-color: #026670;
    border-radius: 360px;
    box-shadow: 1px 1px 1px black;
    color: white;
    height: 1rem;
    list-style-type: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 4rem;
}
    
.header__logo {
    color: #026670;
    list-style-type: none;
    justify-self: center;
    font-style: italic;
    padding-left: 4rem;
    padding-right: 2rem;
}
  
  
.header__logo:hover {
    text-shadow: 1px 1px 1px black;
}
    
.header__logo__png {
    height: 4rem;
    width: auto;
}
    
.header__review__button {
    background-color: #026670;
    border-radius: 360px;
    box-shadow: 1px 1px 1px black;
    color: white;
    height: 1rem;
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    width: 100px;
}
    
.header__review__button:hover {
    background-color: #fce181;
    border-radius: 360px;
    color: white;
    text-decoration: none;
}
  
.header__search__box {
    border-radius: 360px;
    border-color: black;
    color: darkgray;
    font-style: italic;
    height: 2rem;
    padding-left: 1rem;
    margin-top: 1rem;
    width: 20rem;
}
  
.header__search__box:focus-within {
    color: black;
    font-style: normal;
}
  
.header__search__button {
    background-color: #026670;
    border-style: none;
    border-radius: 360px;
    box-shadow: 1px 1px 1px black;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    height: 2rem;
    width: 7rem;
}
  
.header__search__button:hover {
    background-color: #fce181;
    border-radius: 360px;
    color: white;
    font-weight: bold;
    height: 2rem;
    width: 7rem;
}

.review {
    background-color: white;
    color: black;
    padding-right: 1rem;
    padding-left: 1rem;
    box-shadow: 1px 1px 1px black;
  }

.review:nth-child(even) {
    background-color: rgb(230, 230, 230);
    color: #444;
  }
.review__header,
.review__author {
  text-align: left;
  padding: 2rem;
}

.review__content {
    padding: 2rem;
}

.footer {
    background-color: #fce181;
    margin: 0;
    text-align: center;
}