/*.left{
    display: block;
    position: fixed;
    margin-left: auto;
    width:auto;
    height:4rem;  
   }*/
  .reviews-all {
     font-size : 40px;
      font-style:italic;
      text-align: center;
    line-height : 1.1em;
    background-color: #026670;
  }
  .figure{
      background-color: #026670;
  }

 .wrapper {
   display: grid;
   grid-gap: 40px;
   grid-template-columns: 200px 200px 200px 200px 200px;
   text-align :center;
   
 }
 .review-title {
  
   border-radius: 5px;
   padding: 20px;
   font-size: 150%;
 }
 