* {
  margin:0;
  font-family: sans-serif;
  padding:0;

} 

body {
  background-image: url("../media/background5.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
text-decoration: none;
}

a:hover {
color: black;
}

  .sidebar {
      grid-area: sidebar;
  }

  .sidebar3 {
    grid-area: sidebar3;
  }

  .sidebar2 {
      grid-area: sidebar2;
  }

  .content {
      grid-area: content;
  }

  .header {
      grid-area: header;
  }

  .footer {
      grid-area: footer;
  }

  .wrapper {
      background-color: #EDEAE5;
      color: #444;
  }

.wrapper {
  background-color: transparent;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: .4fr 1fr 1fr 1fr .4fr;
  grid-template-areas:
  
  "content content content content content"
  ". sidebar sidebar2 sidebar3 ."
  "footer footer footer footer footer"
}

  /* @media only screen and (min-width: 500px)  {
  .wrapper {

      grid-template-columns: 20% auto;
      grid-template-areas:
      "header   header"
      "sidebar  content"
      "sidebar2 sidebar2"
      "footer   footer";
  }
  }

  @media only screen and (min-width: 600px)   {
      .wrapper {
    grid-gap: 20px;
          grid-template-columns: 120px auto 120px;
          grid-template-areas:
    "header  header  header"
          "sidebar content sidebar2"
          "footer  footer  footer";
          max-width: 600px;
      }
  } */


.box {
background-color: #444;
color: #fff;
padding: 10px;
font-size: 150%; 
}

.content {
background-image: url("../media/background5.jpg");
height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-size: 300%;
margin: 0;
text-align: center;
height: auto;
width: 100%;
min-height: 25rem;
text-shadow: 1px 1px 1px black;
}

.content h1 {
font-style: italic;
margin-top: 10rem;
margin-bottom: 1rem;
}

.content__experience__image {
height: 4rem;
width: 4rem;
}

.content__live {
font-family: Brush Script MT, Brush Script Std, cusrive;
vertical-align: 4rem;
font-size: 3rem;
font-style: italic;
font-weight: normal;
padding-right: 1rem; 
text-align: center;
text-shadow: 1px 1px 1px black;
}

.content__vicuriously {
text-align: center;
}

.content__search__box {
border-radius: 360px;
border-color: transparent;
color: darkgray;
font-style: italic;
height: 2rem;
padding-left: 1rem;
width: 20rem;
}

.content__search__box:focus-within {
color: black;
font-style: normal;
}

.content__search__button {
background-color: #fce181;
border-radius: 360px;
border-color: transparent;
color: white;
font-weight: bold;
height: 2rem;
width: 7rem;

}

.content__search__button:hover {
background-color: #026670;
border-radius: 360px;
border-color: transparent;
color: white;
font-weight: bold;
height: 2rem;
width: 7rem;
}

.footer {
font-size: 1rem;
}


.header {
background-color: #026670;
box-shadow: 1px 1px 1px black;
color: #fff;
display: flex;
flex-direction: row;
font-size: 2rem;
font-weight: bold;
justify-content: space-between;
height: auto;
padding: 6px;
position: fixed;
width: 100%;
}

.header__buttons {
display: flex;
flex-direction: row;
font-size: 1rem;
justify-content: space-around;
margin: 1rem;

}

.header__login__button:hover {
background-color: white;
color: black;
border-radius: 360px;
}

.header__login__button {
list-style-type: none;
padding-left: 2rem;
padding-right: 2rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}

.header__logo {
list-style-type: none;
justify-self: center;
font-style: italic;
padding-right: 2rem;
padding-top: 1rem;
padding-bottom: 0.5rem;
}

.header__logo:hover {
text-shadow: 2px 2px 2px white;
}

.header__logo__tm {
font-size: 1rem;
vertical-align: 1rem;
}

.header__review__button {
color: white;
list-style-type: none;
padding-left: 2rem;
padding-right: 2rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
text-decoration: none;
}

.header__review__button:hover {
background-color: white;
border-radius: 360px;
color: black;
text-decoration: none;
}

/* .header__review__button a {
text-decoration: none;
color: white;
}

.header__review__button a:hover {
text-decoration:  none;
color: black;
} */

.footer {
background-color: #fce181;
margin: 0;
text-align: center;
}

.sidebar2 {
background-color: #ccc;
color: #444;
}


.sidebar,
.sidebar2,
.sidebar3 {
background-color: #fff;
box-shadow: 1px 1px 1px black;
display: flex;
flex-direction: column;
align-content: space-around;
padding: 0;

}

.sidebar__content {
color: black;
padding-left: 4rem;
padding-right: 4rem;
padding-bottom: 1rem;
padding-top: 1rem;
}

.sidebar__content a {
  color: #026670;
}

.sidebar__content__ul {
color: #026670;
list-style-type: square;
padding-left: 4rem;
padding-right: 4rem;
padding-bottom: 2rem;
}

.sidebar__content__li {
  padding: 0.5rem;
}

.sidebar__header {
background-color: #026670;
color: white;
display: flex;
text-align: center;
display: flex;
justify-content: center; /* align horizontal */
align-items: center;
padding: 2rem;
height: 7rem;
}