<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Categories</title>
</head>
<div class="header">
        <ul>
            <li class="header__logo">vicuriously.com<span class="header__logo__tm">™</span></li>
            
        </ul>
        <ul class="header__buttons">
            <a href="reviews/add"><li class="header__review__button">Write Review</li></a>
            <li class="header__login__button"><a>Login</a></li>
        </ul>
    </div><!--box header-->
<body>
    <div class= "title">
        <h1>Categories</h1>
    </div>

    <section class = "category__list">
        <ul>
            <li>Life-Threatening</li>
            <li>Professional</li>
            <li>Financial</li>
            <li>Health & Well-Being</li>
            <li>Entertainment</li>
        </ul>
    </section>  
</body>
<div class="box footer">
        <footer>Team 3, 2019.</footer>
    </div><!--box footer-->
</html>