<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/review-style.css">
    <title>Experience</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <ul>
                <li class="header__logo"><a href="/"><img class="header__logo__png"
                            src="../media/vicuriouslogo.png"></a></li>
            </ul>
            <ul>
                <input class="header__search__box" type="search" value="What experience are you looking for...?">
                <input class="header__search__button" type="submit" value="Search">
            </ul>
            <ul class="header__buttons">
                <a href="reviews/add">
                    <li class="header__review__button">Write Review</li>
                </a>
                <a href>
                    <li class="header__login__button">Login</li>
                </a>
                <a href>
                    <li><label for="p1" class="button">≡</label></li>
                </a>
            </ul>
            <input type="checkbox" class="hide" id="p1">

            <div id="popup1" class="overlay">
                <div class="popup">
                    <li class="menu__logo"><a href="/"><img class="menu__logo__png"
                                src="../media/vicuriouslogo.png"></a></li>
                    <h2>&nbspMenu</h2>
                    <label for="p1" class="close">&times;</label>
                    <div class="menu__content">
                        <ul class="menu__buttons">
                            <input class="menu__search__box" type="search"
                                value="What experience are you looking for...?">
                            <input class="menu__search__button" type="submit" value="Search"></li>
                            <a href="reviews/add">
                                <li class="menu__review__button">Write Review</li>
                            </a>
                            <a href>
                                <li class="menu__login__button">Login</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!--box header-->

        <div class="box content">
            <h2 class="content__experience__name">Experience Name</h2>
            <img class="content__experience__image" src="https://s.w-x.co/thinkstockphotos-79994979.jpg">
            <img class="content__rating__image" src="/media/four-stars.png" alt="Four Stars">
        </div>
        <!--box content-->

        <div class="box reviews" th:each="review : ${reviews}">
            <h2 class="review__header" th:text="${review.title}">Default Review</h2>
            <h3 class="review__sub-header"><span th:text="${review.rating}">Default Rating</span>(out of 5)</h3>
            <p class="review__content" th:text="${review.content}">Default Content</p>                    
        </div>
        <!--box review-->

        <footer class="box footer">Team 3, 2019.</footer>
    </div>
    <!--close wrapper-->
</body>

</html>