<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">

    <title>Vi-curiously - Be Curious, vicariously.</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <ul>
                <li class="header__logo"><img class="header__logo__png" src="../media/vicuriouslogo.png"></li>
            </ul>
            <ul class="header__buttons">
                <a href="reviews/add">
                    <li class="header__review__button">Write Review</li>
                </a>
                <a href="">
                    <li class="header__login__button">Login</li>
                </a>
                <a href>
                    <li><label for="p1" class="button">≡</label></li>
                </a>
            </ul>
            <input type="checkbox" class="hide" id="p1">

            <div id="popup1" class="overlay">
                <div class="popup">
                    <li class="menu__logo"><a href="/"><img class="menu__logo__png"
                                src="../media/vicuriouslogo.png"></a></li>
                    <h2>&nbspMenu</h2>
                    <label for="p1" class="close">&times;</label>
                    <div class="menu__content">
                        <ul class="menu__buttons">
                            <input class="menu__search__box" type="search"
                                value="What experience are you looking for...?">
                            <input class="menu__search__button" type="submit" value="Search"></li>
                            <a href="reviews/add">
                                <li class="menu__review__button">Write Review</li>
                            </a>
                            <a href>
                                <li class="menu__login__button">Login</li>
                            </a>
                        </ul>

                    </div>
                </div>
            </div>
        </header>

        <div class="box content">
            <h1><img class="content__header" src="../media/vicuriouslogo-white.png" alt="Live Vicuriously"></h1>
            <input class="content__search__box" type="search" value="What experience are you looking for...?">
            <input class="content__search__button" type="submit" value="Search">
        </div>
        <!--box content-->

        <div class="box sidebar">
            <h2 class="sidebar__header">Categories</h2>
            <p class="sidebar__content">
                Browse experiences by category
                <ul class="sidebar__content__ul">
                    <li class="sidebar__content__li" th:each="category : ${categories}">
                        <a th:text="${category.type}" th:href="@{|category/${category.type}|}">Default Category</a>
                    </li>
                </ul>
            </p>
        </div>
        <!--box sidebar-->

        <div class="box sidebar2">
            <h2 class="sidebar__header">Featured</h2>
            <p class="sidebar__content">Check out this week's featured experiences!</p>
            <p class="sidebar__content">
                <ul class="sidebar__content__ul">
                    <li class="sidebar__content__li" th:each="review, reviewStat : ${reviews}">
                        <a th:text="${review.title}" th:href="@{|experience/${review.title}|}"
                            th:unless="${reviewStat.index > 4}">Default Experience</a>
                    </li>
                </ul>
            </p>
        </div>
        <!--box sidebar2-->

        <div class="box sidebar3">
            <h2 class="sidebar__header">Top Experiences</h2>
            <p class="sidebar__content">See our users' highest rated experiences:
                <ul class="sidebar__content__ul">
                    <li class="sidebar__content__li" th:each="review, reviewStat : ${topReviews}">
                        <a th:text="${review.title}" th:href="@{|review/${review.title}|}"
                            th:unless="${reviewStat.index > 4}">Default Experience</a>
                    </li>
                </ul>
            </p>
        </div>
        <!--box sidebar3-->
        <div class="box footer">
            <footer>Team 3, 2019.</footer>
        </div>
        <!--box footer-->
    </div>
</body>

</html>