<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    
<div class="wrapper">
    <div class="header">
        <ul>
            <li class="header__logo">vicuriously.com<span class="header__logo__tm">™</span></li>
            
        </ul>
        <ul class="header__buttons">
            <li class="header__review__button"><a href="writeareview">Write Review</a></li>
            <li class="header__login__button"><a>Login</a></li>
        </ul>
    </div><!--box header-->
    <div class="box content">
        <h1><span class="live">live</span><span class="vicuriously"></span>vicuriously</h1>
        <input class="content__search__box" type="search" value="What experience are you looking for...?">
        <input class="content__search__button" type="submit" value="Search">
    </div><!--box content-->
    <div class="box sidebar">
        <h2 class="sidebar__header">Categories</h2>
        <p>
                <li>Lorem</li>
                <li>Ipsum</li>
                <li>Dolor</li>
                <li>Sit</li>
                <li>Amet</li>
                <li>Consectetur</li>
                <li>Lorem</li>
                <li>Ipsum</li>
                <li>Dolor</li>
                <li>Sit</li>
                <li>Amet</li>
                <li>Consectetur</li>
        </p>
        

    </div><!--box sidebar-->
    <div class="box sidebar2">
            <h2 class="sidebar__header">Featured</h2>
            <p><a href="review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi provident officia exercitationem asperiores a ratione voluptates rem, fugit fuga architecto aspernatur, nisi voluptatibus nam aliquid vitae illum vero nemo amet.</a>
            </p>
    </div><!--box sidebar2-->
    <div class="box sidebar3">       
        <h2 class="sidebar__header">Top Experiences</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi provident officia exercitationem asperiores a ratione voluptates rem, fugit fuga architecto aspernatur, nisi voluptatibus nam aliquid vitae illum vero nemo amet.
            <li>Lorem</li>
            <li>Ipsum</li>
            <li>Dolor</li>
            <li>Sit</li>
            <li>Amet</li>
            <li>Consectetur</li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi provident officia exercitationem asperiores a ratione voluptates rem, fugit fuga architecto aspernatur, nisi voluptatibus nam aliquid vitae illum vero nemo amet.</p>
    </div><!--box sidebar3-->
    <div class="box footer">
        <footer>Team 3, 2019.</footer>
    </div><!--box footer-->
  </div>
</body>
</html>
