<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reviews-all.css">
    <title>All Reviews</title>
</head>

<body>
    <div class="wrapper">
         <ul>
            <li class="header__logo"><img class="header__logo__png" src="../media/vicuriouslogo.png"></li>
        </ul>
        <h2 class="reviews-all"> All types of Reviews!</h2>

            <h4 class="review-title" th:text="${title}">Review title</h4>
            <h4 class="review-category" th:text="${category}">Review category</h4>
            <h4 class="review-rating" th:text="${rating}">Review rating</h4>
            <h4 class="review-content" th:text="${content}">Review content</h4>
</div>
</body>





</html>