
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="/css/layout-data-verify.css">
    <title>Vi-curiously - Review Submitted</title>
</head>

<body>

  <div class="wrapper">
      <div class="header">
          <ul>
            <li class="header__logo"><img class="header__logo__png" src="../media/vicuriouslogo.png"></li>
          </ul>
          <ul>
            <input class="header__search__box" type="search" value="What experience are you looking for...?">
            <input class="header__search__button" type="submit" value="Search">
          </ul>
          <ul class="header__buttons">
          <a href="reviews/add"><li class="header__review__button">Write Review</li></a>
          <a href><li class="header__login__button" onclick="document.getElementById('id01').style.display='block'">Login</li></a>
          </ul>
      </div>

         <div class="reviewform">
              <h2 class="review__header" >
                  Thanks for posting!
              </h2>
                

            <div class="reviewboxes">
   
                    <h4>Posted in</h4>
                    <p th:text="${review.category.type}"></p>
    
 
                    <h4>Headline</h4>
                    <p th:text="${review.title}"></p>
                    <h4>Review</h4>
                    <p th:text="${review.content}"></p>
                    <h4>Author</h4>
                    <p th:text="${review.author}"></p>
                    <h4>Attached Photo</h4>
                    <img th:src= "@{|${review.imageURL}|}"></img>
    
                    <h4>Rating</h4>
                    <p th:text="${review.rating}"></p>
                    <!--need below to prevent errors-->
    
                     <!-- <h4>Tags</h4>
                     <p th:text="${review.reviewTags}"></p>
                     -->
         

            </div>
            <div class="similarreviews">
                <h4>Check out reviews on similar experiences:</h4>
               
                
                <li style="list-style: none;" th:each="review: ${reviewsbycategory}">
                  <h4 th:text="${review.title + ' Posted By: ' + review.author}"></h4>
                  <h5 th:text="'Rating: ' + ${review.rating}"></h5>
                  <p th:text="${#strings.abbreviate(review.content, 20)}"></p>


                </li>
                
                
                
                
                
            </div>
            
         </div>

</div>

</body>

</html>