<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/single-review-style.css">

  
    <!-- ?\<link rel="stylesheet" href="C:\Users\WeCanCodeIT\wcci\code\user-review-site\src\main\resources\static\css\style-review-single.css"> -->
    <title>Single Review</title>
</head>

<div class="wrapper">
<div class="header">
        <ul>
            <li class="header__logo">vicuriously.com<span class="header__logo__tm">™</span></li>
            
        </ul>
        <ul class="header__buttons">
                <a href="/"><li class="header__home__button">Home</li></a>
            <a href="review/add"><li class="header__review__button">Write Review</li></a>
            <li class="header__login__button"><a>Login</a></li>
           
        </ul>
    </div><!--box header-->
<body>
    <section class= "main__body">
    <div class= "title">
        <h1 th:text="${review.title}">Default Title</h1>
        <h2 th:text="${review.category.type}">Default Category</h2>

    </div>

    <div class= "review__rating">
            <h2 th:text="${review.rating}">Default Rating</h2>
     </div><!--closes review__rating div-->

    <section class="main__review">
     <div class= "review__img">
         <figure>
            <img th:src= "@{|${review.imageURL}|}"></img>
        </figure>       
     </div><!--closes review__rating div-->


    <div class = "review__content">
        <h3 th:text="${review.content}">Default Review Content</h3>
        <h4 th:text="${review.author}">Default Author</h4></p>
    </div><!--closes review__content-->
        
      
    <!-- <div class = "review__author"> 
            <h4 th:text="${review.author}">Default Author</h4>
    </div>  -->
</section> <!--closes main__review section-->


    <!--add tags too CURRENTLY NOT WORKING WITH "review.reviewTags-->
     <div class = "review__tags">

            <ul class="review__tags__ul">
                    <li class="review__tags__tag" th:each="reviewTag : ${review.reviewTags}">
                        <span th:text="${reviewTag.tagName}">Default Tag</span>
                    </li>
                </ul>
    </div>

        <div class= "comment__list">
        <!-- List comments -->
        <ul class= "review__comments__ul">
        <li class="review__comment__list" th:each="comment : ${review.comments}">
                <span th:text="${comment.commentContent}">Default Comment</span>
            </li>
        </ul>
        </div>


        <div class= "add__comment">
        <!-- Add Comments -->
        <form th:action="|/review/${review.title}|" method="POST" class="commentbox">
            <h4>Add a Comment</h4>
            <input type="textbox" class="commentbox__textbox" name="commentContent" placeholder="Add a comment"/>
            <input type="submit" name="submit" value="submit" style="width: 200px;"/>    
        </form>

    </div>
        <!-- <ul>
            <li th:each="comment : ${review.comments}"
                th:text="${comment.commentContent}">
            </li>
        </ul> -->

        </div><!--closes wrapper-->

    </section><!--closes main body-->
</body>
<div class="box footer">
        <footer>Team 3, 2019.</footer>
    </div><!--box footer-->
</html>

