<html>
    <head>

        <link rel="stylesheet" href ="css/layout.css">
    </head>

<body>
    <form action="verifyreview.html" method="GET" class="reviewboxes">
        <h1>
    Write your review!
        </h1>
        <h2>***review topic will carry over from prior page, either a new topic or a selected topic***</h2>
        <h4>Headline</h4>
        <input type="text" class="headline" id="headline" name="headline" placeholder="Write a headline for this review" maxlength="100" style="width: 500px;"></input>
        <h4>Review</h4>
        <textarea class="reviewbox" id="reviewbox" name="reviewbox" placeholder="Please write your review here." maxlength="5000" style="width: 500px; height: 500px;"></textarea>
        <h4>Add a photo</h4>
        <input type="file" name="fileToUpload" id="fileToUpload"/>
        <h4>Rating</h4>
        <p>How many stars would you rank this experience? 1-5</p>
        <input class="rank" name="rank" type="number"style="width: 50px"></input>
        <h4>Rating Summary</h4>
        <textarea class="summary" name="summary" placeholder="Share a brief summary of why you chose this star rating." maxlength="1000" style="width: 500px; height: 100px;"></textarea>
        <h4>Tags</h4>
        <input type="text" class="tags" id="tags" name="tags" placeholder="Include any tags to help other users" style="width: 500px;"/>
        <input type="submit" name="submit" value="submit" style="width: 200px;"/>
    </form>
















</body>



























</html>